body {
    background-color: hsl(216, 12%, 8%);
    color: hsl(0, 0%, 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass', sans-serif;
}

.container {
    background-color: hsl(213, 19%, 18%);
    width: 300px;
    padding: 30px;
    border-radius: 12px;
}

.thanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rating-container {
    background-color: hsl(216, 12%, 20%);
    width: max-content;
    border-radius: 12px;
    margin-top: 30px;
}

#rate-detail {
    color: hsl(25, 97%, 53%);
    margin: 5px 20px;
    font-size: 14px;
}

.thank-title {
    margin-bottom: 0px;
}

#submit {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    border: 0px;
    border-radius: 12px;
    width: 100%;
    height: 30px;
    margin-top: 30px;
}

.details {
    color: hsl(217, 12%, 63%);
    font-size: 14px;
}

.selected {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}

.hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 15%, 39%);
}

.submit-hover {
    background-color: hsl(0, 0%, 100%);
}

.circle {
    background-color: hsl(216, 12%, 20%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons > button{
    color: hsl(217, 12%, 63%);
    background-color: hsl(216, 12%, 20%);
    border: 0px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 16px;
}